<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% obj.each do |o| %>
      <tr>
        <td><%= o.name %></td>
        <td><%= o.vicinity %></td>
        <td><%= o.rating %></td>
      </tr>
    <% end %>
</tbody>
</table>